version: "1"

services:
  app:
    container_name: api
    build:
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      POSTGRES_HOST: ${POSTGRES_CONTAINER_NAME}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - postgres_db
    env_file:
      - .env
    networks:
      - app-network

  postgres_db:
    container_name: ${POSTGRES_CONTAINER_NAME}
    image: postgres:latest
    restart: always
    #command: postgres -c timezone=posix/Asia/Almaty -c log_timezone=posix/Asia/Almaty
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8081:8080"
    environment:
      SWAGGER_JSON: /api/openapi.yaml
    volumes:
      - ./api/openapi.yaml:/api/openapi.yaml
networks:
  app-network:
    driver: bridge

volumes:
  postgres:




